
/* Result Summary Section */
#result-summary-container{
  width: 375px;
  height: 810px;
}

/* Result card section Starts */
.result-card{
  background: linear-gradient(var(--light-slate-blue-bg), var(--light-royal-blue-bg));
  padding: 1rem 2rem;
  text-align: center;
  color: var(--light-lavender);
  border-radius: 0 0 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
  box-shadow: 0px 10px 88px 0px var(--light-lavender);
}
.result-card > h1{
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.circle_score-area {
  background: linear-gradient(var(--violet-blue-circle), var(--persian-blue-circle));
  width: 8rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 0.8rem;
}
.circle_score{
  font-size: 3rem;
  color: var(--white);
  font-weight: bold;
}
.result-card_label{
  font-size: 1.7rem;
  color: var(--white);
  margin-bottom: 0.6rem;
}
.result-card_decription{
  padding-bottom: 1.5rem;
}
/* Result card section Ends */

/* Summary card section Starts */
.summary-card{
  padding: 1rem 1.7rem;
  color: var(--dark-gray-blue)
}
.summary-card > h2{
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 1rem;
}
.summary-card_stat{
  background: rgb(111, 192, 230);
  margin-bottom: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-radius: 0.8rem;
}

.summary-card_stat > div:first-child{
  display: flex;
  justify-content: space-between;
} 
.summary-card_stat > div:last-child > span:first-child{
  font-weight: bold;
  font-size: 16px;
}
.summary-card_stat > div:last-child > span:last-child{
  color: var(--light-lavender);
  font-weight: 500;
}
.summary-card_stat > div > img{
  margin-right: 0.5rem;
}


/* Summary card stat modifiers */
.summary-card_stat-reaction{
  background-color: hsla(0, 100%, 69%, 0.1);
}
.summary-card_stat-reaction > div:first-child > span{
  color: var(--light-red)
}
.summary-card_stat-memory{
  background-color: hsla(39, 100%, 56%, 0.1);
}
.summary-card_stat-memory > div:first-child > span{
  color: var(--orange-yellow);
}
.summary-card_stat-verbal{
  background-color: hsla(166, 100%, 37%,0.1);
}
.summary-card_stat-verbal > div:first-child > span{
  color: var(--green-teal)
}
.summary-card_stat-visual{
  background-color: hsla(234, 85%, 45%, 0.1);
}
.summary-card_stat-visual > div:first-child > span{
  color: var(--cobalt-blue);
}
.summary-card > button {
  width: 100%;
  padding: 1rem;
  background-color: var(--dark-gray-blue);
  color:var(--white);
  border-radius: 2rem;
  border: none;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  margin-bottom: 4rem;
}
/* Summary card section Ends */

/* Footer Starts */
footer{
  margin-top: 2rem;
}
/* Footer Ends */